.Tab {
  border: 1px solid #c3c4c7;
  border-bottom: none;
  margin-left: 0.5em;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.71428571;
  font-weight: 600;
  background: #dcdcde;
  color: #50575e;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  &___Active {
    border-bottom: 1px solid #f0f0f1;
    margin-bottom: -1px;
    background: #f0f0f1;
    color: #000;
  }

  &___Disabled {
    color: #939da7;
    cursor: not-allowed;

    &:hover {
      background: #dcdcde !important;
    }
  }

  &:hover {
    background: #f0f0f1;
  }

  &:focus {
    box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgba(79, 148, 212, 0.8);
    outline: 1px solid transparent;
  }
}
