.Post {
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  width: max(80%, 720px);
  margin: 10px 0;

  &_SyncStatus {
    width: 90px;

    button {
      margin: 3px 0 0 0px;
      width: 80px;
    }
  }

  &_Body {
    position: relative;
    width: max(calc(100% - 90px), 630px);
    min-height: 125px;
  }

  &_Title {
    a {
      text-decoration: none;
      color: #333;
      font-weight: 700;
      line-height: 1.4;
      font-size: 19px;

      &:hover {
        text-decoration: underline;
        color: #f9653b;
      }
    }
  }

  &_Date {
    position: absolute;
    right: 0px;
  }

  &_Image {
    position: absolute;
    left: -90px;
    height: 80px;
    min-width: 90px;
    top: 43px;

    &___NoSync {
      top: 5px;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
