.post {
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid;
  width: max(80%, 720px);
  margin: 10px 0;

  &__sync-status {
    width: 90px;

    button {
      margin: 3px 0 0 0px;
      width: 80px;
    }
  }

  &__body {
    position: relative;
    width: max(calc(100% - 90px), 630px);
    min-height: 125px;
  }

  &__title {
    a {
      text-decoration: none;
      color: #333;
      font-weight: 700;
      line-height: 1.4;
      font-size: 19px;

      &:hover {
        text-decoration: underline;
        color: #f9653b;
      }
    }
  }

  &__date {
    position: absolute;
    right: 0px;
  }

  &__image {
    position: absolute;
    left: -90px;
    height: 80px;
    min-width: 90px;
    top: 43px;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }

  a {
    color: #f9653b;
  }
}

// .synced-post {
//   display: flex;
//   background: white;
//   padding: 10px;
//   border-radius: 5px;
//   border: 1px solid;
//   width: max(80%, 720px);
//   margin: 10px 0;
// }

// .synced-post > .post-image {
//   min-width: 90px;
//   height: 80px;
//   margin: 3px 0 0 0px;
// }

// .synced-post > .post-image > img {
//   width: auto;
//   height: auto;
//   max-width: 100%;
//   max-height: 100%;
// }

// .synced-post > .post-image > .featured-image {
//   max-width: 80px;
//   max-height: 80px;
//   height: auto;
//   width: auto;
// }

// .synced-post > .post-image > .featured-image > .featured-item--image,
// .synced-post > .post-image > .featured-image > .featured-item--video {
//   max-width: 100%;
//   max-height: 100%;
//   height: auto;
//   width: auto;
// }

// .synced-post > .post-image > .featured-image > .featured-item--image > img {
//   max-width: 100%;
//   max-height: 100%;
//   height: auto;
//   width: auto;
// }

// .synced-post > .post-image > .featured-image > .featured-item--video > iframe {
//   max-width: 100%;
//   max-height: 100%;
//   height: auto;
//   width: auto;
// }

// .synced-post > .post-body {
//   position: relative;
//   width: max(calc(100% - 90px), 630px);
//   min-height: 100px;
// }

// .synced-post > .post-body > .post-title > a {
//   text-decoration: none;
//   color: #333;
//   font-weight: 700;
//   line-height: 1.4;
//   font-size: 19px;
// }

// .synced-post > .post-body > .post-title > a:hover {
//   text-decoration: underline;
//   color: #f9653b;
// }

// .synced-post > .post-body > .post-date {
//   position: absolute;
//   right: 0px;
// }

// a {
//   color: #f9653b;
// }
