.pagination {
  display: flex;

  > li {
    margin: 0 10px;
    cursor: pointer;

    > a {
      color: #333;

      &:hover,
      &:focus {
        color: #f9653b;
        text-decoration: underline;
      }
    }

    &.selected > a {
      font-weight: bold;
    }

    &.disabled > a {
      color: #333;
      opacity: 0.5 !important;
      text-decoration: none;
      cursor: not-allowed;
    }
  }
}
